<h1 id="tableLabel">Tax Calculator</h1>

<p *ngIf="!calculationResult"><em>Loading...</em></p>
<div>
  <input placeholder="Salary" type="number" [(ngModel)]="salary" /><button (click)="calculateTax()">Calculate</button>
</div>

<table *ngIf="calculationResult" aria-labelledby="tableLabel" class='table table-striped'>
  <tbody>
  <tr>
    <td>Gross Annual Salary</td>
    <td>£{{ calculationResult.grossAnnualSalary | number: '1.2-2' }}</td>
  </tr>
  <tr>
    <td>Gross Monthly Salary</td>
    <td>£{{ calculationResult.grossMonthlySalary | number: '1.2-2' }}</td>
  </tr>
  <tr>
    <td>Net Annual Salary</td>
    <td>£{{ calculationResult.netAnnualSalary | number: '1.2-2' }}</td>
  </tr>
  <tr>
    <td>Net Monthly Salary</td>
    <td>£{{ calculationResult.netMonthlySalary | number: '1.2-2' }}</td>
  </tr>
  <tr>
    <td>Annual Tax Paid</td>
    <td>£{{ calculationResult.annualTax | number: '1.2-2' }}</td>
  </tr>
  <tr>
    <td>Monthly Tax Paid</td>
    <td>£{{ calculationResult.monthlyTax | number: '1.2-2' }}</td>
  </tr>
  </tbody>
</table>
